<h2 class="products__header">
    <a href="@url" itemprop="url" title="Mais detalhes" class="products__link">
        <span class="products__image product-image">@foto(360x360)</span>
    </a>
</h2>
<div class="products__main">
    
    @variacoes
    <a href="@url" title="@nome(60)" class="products__name">@nome</a>

    @if(is_disponivel)
        @preco
    @else(is_disponivel)
        <div class="products__out">Produto Esgotado</div>
    @endif(is_disponivel)

    <a class="products__create" href="/customer/account/create/">
        <span>Cadastre-se para ver o preço</span>
    </a>

    @selos
</div>