<div class="banner-grid">
    <div class="banner-grid__container">
        <div class="banner-grid__col">
            <div class="banner-grid__full">{{widget type="banner/widget_banner" template="banner/banner.phtml" banner="home_banner_full"}}</div>
        </div>
        <div class="banner-grid__col">
            <div class="banner-grid__offer">{{widget type="banner/widget_banner" template="banner/banner.phtml" banner="banner-offer"}}</div>
            <div class="banner-grid__news">{{widget type="banner/widget_banner" template="banner/banner.phtml" banner="banner-news"}}</div>
        </div>
    </div>
</div>