<div class="ruler">
    <svg class="ico z-glass">
        <use xlink:href="#z-glass" />
    </svg>
    <h3 class="ruler__title">Crie sua própria marca</h3>
    <h4 class="ruler__description">de óculos de sol ou de grau</h4>
</div>

<div class="ruler">
    <svg class="ico z-user">
        <use xlink:href="#z-user" />
    </svg>
    <h3 class="ruler__title">cadastre-se</h3>
    <h4 class="ruler__description">para ver os preços</h4>
</div>

<div class="ruler">
    <svg class="ico z-note">
        <use xlink:href="#z-note" />
    </svg>
    <h3 class="ruler__title">escolha os modelos</h3>
    <h4 class="ruler__description">de óculos de sol ou de grau</h4>
</div>

<div class="ruler">
    <svg class="ico z-box">
        <use xlink:href="#z-box" />
    </svg>
    <h3 class="ruler__title">receba os óculos</h3>
    <h4 class="ruler__description">personalizados com sua marca</h4>
</div>