<div class="topo-head">
    <div class="topo-head__container">
        <div class="topo-head__whats">
            <a class="topo-head__link" href="#">
                Como comprar óculos marca própria?
            </a>
        </div>
        <div class="topo-head__nav">
            <a class="topo-head__link-create" href="/customer/account/create/">
                Cadastre-se para ver os preços
            </a>
            <div class="topo-head__account">
                {{widget type="menubuilder/output" id="8" template="menubuilder/output.phtml"}}
            </div>
        </div>
    </div>
</div>
