.breadcrumb
    &__home
        .breadcrumb__link:before
            display: none

    &__link, &__sep, &__last
        font-size: 14px
        font-weight: regular
        color: #959595

@media (min-width: 993px)
    .toolbar
        .limiter
            display: none

        .amount
            font-size: 13px
            font-weight: regular
            color: #959595

            span
                font-weight: regular

    .filters
        .title
            font-size: 20px
            font-weight: bold
            color: color2_bg

        &__filter
            margin-bottom: -1px !important

        &__name
            font-size: 16px
            font-weight: bold
            color: color1_bg

        .label, .count
            font-size: 13px
            text-transform: uppercase
            color: #959595

        .li--0
            margin-bottom: 5px !important