.price-box
    display: flex
    justify-content: center
    align-items: center
    margin: 10px

    .regular-price, .special-price, .minimal-price
        .label
            display: none

        .price span
            font-size: 15px
            font-weight: bold
            color: color2_bg

    .old-price
        padding-right: 20px
        margin-bottom: 0 !important

        .label
            display: none

        .price span
            font-size: 12px
            font-weight: regular
            text-decoration: line-through
            color: #959595