.ruler
    text-align: center

    .ico
        width: 25px
        height: 25px
        fill: color2_bg

    &__title
        font-size: 14px
        font-weight: bold
        text-transform: uppercase
        margin-top: 10px

    &__description
        font-size: 15px
        font-weight: regular
        color: #898989
        margin-top: 5px